$font-family: "Chakra Petch", sans-serif;
$red: #fa0369;
$green: #31c8b1;
$white: #ffffff;
$grey: #a4a2a6;
$border-color: #3a4662;
$box-baground: linear-gradient(
  180deg,
  rgba(58, 70, 98, 0.7) 0%,
  #100419 84.37%
);
$transition: all 0.4s;
$cursor: pointer;
$second-button: #141a25;
