* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  position: relative;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h5 {
  font-size: 20px;
}

h4 {
  font-size: 22px;
}

h3 {
  font-size: 24px;
}

h2 {
  font-size: 36px;
}

h1 {
  font-size: 85px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
